body{
  background-color:#F5F8FF;
}
.roboto-mono-normal {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.text-primary-color{
  color:#252432;
}
.btn-primary{
  background-color:#4E47FF;
  color:#ffffff;
  border-radius:10px;
  padding:12px 36px;
  border:none;
  font-weight:bold;
  font-size:16px;
  cursor: pointer;
  transition: 0.5s;
}
.btn-primary:hover{
  font-size:18px;
  background-color: rgb(146, 139, 247);
  color:black;
}

/* nav styles */
header{
  max-width: 1440px;
  margin:0px auto;
  box-sizing: border-box;
}
.header{
  background-image:url("../images/Hero-bg.png");
 /* margin:104px 455px 103px 154xp; */
}

nav{
 
  display:flex;
  justify-content: space-between;
  align-items:center;
  margin:0 150px;
  
}
.nav-title{
  font-size:30px;
  
}

.banner{
  text-align:center;
  margin:158px 267.5px 152px;
  padding-bottom:152px;
}
.banner-title{
  font-weight: bold;
  
}

/* Main section */

main{
  max-width: 1140px;
  
  margin:0 auto;

}
main .action{
  display:flex;
  justify-content: space-between;
  gap:200px;
  margin:116px 0px;
}
.action-title{
  margin-top:-10px;
}
.child-action{
  margin-top:62.5px ;
  margin-bottom:62.5px;
}
.child-action .action-title{
  font-weight: bold;
  font-size:42px;
  color:#252432;
}
.action-description{
  font-size:24px;
  margin-top:-15px;
}
.action-img{
  border-radius: 48px;

}
/* main section productive part */
.productive{

  text-align: center;
  background-color:#E5E7FF;
  border-radius:24px;
  padding:50px 142px;
  
}
  
 .Productive-title{
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 0px;
}


.flex{
  box-sizing: border-box;
  display:flex;
  justify-content: space-between;
  margin-bottom:0px;
}
 .flex .sub-title{
  font-weight: bold;
  font-size: 80px;
  color:#3E5DFE; 
  
}
.flex .font{
  font-size:20px ;
  margin-top: -20px;
}



/* Feedback Section */

.preant-feedback{
  
  text-align:center;
  margin-top:137px;
  margin-bottom:137px;
  box-sizing: border-box;
}
.preant-feedback h1{
  font-weight: bold;
  font-size:42px;
  margin-top:0px;
  margin-bottom:50px;
}
.Feedback-Section{
  color:#ffff;
  display:flex;
  justify-content: space-between;
  gap:20px;
}
.Feedback-Section .preant{
  text-align:left;
  padding:24px;
  border-radius:14px;
  box-shadow: 0px 1px 10px rgb(173, 170, 170);
}

.preant .image{
  text-align:left;
  display:flex;
  
  align-items:center ;

}
.Feedback-Section .preant .image .p{
  text-align:center;
}
.preant-feedback .preant .title{
  color:black;
}
/* main section touch box */
.king{
  margin:71px 0px;
}
.touch-box{

  display:flex;
  justify-content: space-between;
  align-items: center;
  gap:100px;
}
.touch{
  font-weight: bold;
  font-size:80px;
}
.touch-box .touch2{
  margin:71px 0px 
}

.box-items label , textarea{
  display:block;
  margin-bottom:10px;
  border-radius: 10px ;
  border:none;

 
}
.box-items input[type='email'] , input[type="name"]{
  margin-bottom:20px;
  padding:15px;
  border-radius: 10px;
  width:92%;
  border:none;
}
.button{
  width:100%;
  padding:15px;
  border:none;
}
/* footer ------ */
.footer-section{
  max-width:1440px;
  background-color:white;
   margin-bottom:150px;
  margin:0px auto;
  padding:50px 0px;
  
}
.footer-logo{
  margin:105px 455px;
  box-sizing: border-box;
  text-align:center;
}
.footer-logo .footer-title{
  color:#4E47FF;
}
.anchor-section {

  padding-left:20px;
  text-align:left;
}
.footer-logo ul{
  display:flex;
  justify-content: space-between;
  text-align:left;
  
}
.footer-logo ul li{
  list-style:none;
  padding:0px 10px;
  transition:0.5s;
  
}

.footer-logo ul li a{
  text-decoration:none;
  color:#252432 ;
  text-align:center;
  cursor:pointer;
}
.footer-logo ul li:hover{
  background-color:#4E47FF;
  border-radius:8px;
  color:#ffff;
}