
.roboto-mono-normal {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.text-primary-color{
  color:#252432;
}
.btn-primary{
  background-color:#4E47FF;
  color:#ffffff;
  border-radius:10px;
  padding:12px 36px;
  border:none;
  font-weight:bold;
  font-size:16px;
  cursor: pointer;
  transition: 0.5s;
}
.btn-primary:hover{
  font-size:18px;
  background-color: rgb(146, 139, 247);
  color:black;
}

/* nav styles */
.header{
  background-image:url("../images/Hero-bg.png");
  width:100%;
  height:600px;
}

nav{
 
  display:flex;
  justify-content: space-between;
  align-items:center;
  margin:0 150px;
  
}
.nav-title{
  font-size:34px;
  
}

.banner{
  text-align:center;
  margin:158px 267.5px 152px;
  
}
.banner-title{
  font-weight: bold;
  font-size: 50px;
}

/* Main section */

main{
  max-width: 1140px;
  min-width:500px;
  margin:0 auto;

}
main .action{
  display:flex;
  justify-content: space-between;
  gap:200px;
  margin:116px 0px;
}
.action-title{
  margin-top:-10px;
}
.child-action{
  margin-top:62.5px ;
  margin-bottom:62.5px;
}
.child-action .action-title{
  font-weight: bold;
  font-size:42px;
  color:#252432;
}
.action-description{
  font-size:24px;
  margin-top:-15px;
}
.action-img{
  border-radius: 48px;

}
/* main section productive part */
.productive{

  text-align: center;
  background-color:#E5E7FF;
  border-radius:24px;
  padding:50px 142px;
  
}
  
 .Productive-title{
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 0px;
}


.flex{
  box-sizing: border-box;
  display:flex;
  justify-content: space-between;
  margin-bottom:0px;
}
 .flex .sub-title{
  font-weight: bold;
  font-size: 80px;
  color:#3E5DFE; 
  
}
.flex .font{
  font-size:20px ;
  margin-top: -20px;
}

/* main section touch box */
.touch-box{
  box-sizing: border-box;
  border:1px solid red;
  display:flex;
  justify-content:space-between;
  gap:115px;
  padding:50px 0px; 
  background-color:#F5F8FF;
}
.touch-box .touch{
  font-weight: bold;
  font-size:97px;
  text-align:left;
}
 .touch-box .touch2{
  margin:71px 0px ;
  border:1px solid red;
}
.box-items label{
  display:block;
  margin-bottom:52px;
}
.box-items input ,textarea{
  box-sizing: border-box;
  padding:20px 32px;
  width:100%;
  margin-bottom:40px;
  border-radius: 10px;
  border:none;
}

/* Feedback Section */

.preant-feedback{
  
  text-align:center;
  margin-top:137px;
  margin-bottom:137px;
  box-sizing: border-box;
}
.preant-feedback h1{
  font-weight: bold;
  font-size:42px;
  margin-top:0px;
  margin-bottom:50px;
}
.Feedback-Section{
  
  display:flex;
  justify-content: space-between;
  gap:20px;
}
.Feedback-Section .preant{
  text-align:left;
  padding:24px;
  border-radius:14px;
  box-shadow: 0px 1px 10px rgb(173, 170, 170);
}

.preant .image{
  text-align:left;
  display:flex;
  
  align-items:center ;

}
.Feedback-Section .preant .image .p{
  text-align:center;
}